@use './../abstracts' as *;

.features {
  padding-bottom: 88px;
  @include for-tablet-landscape-down {
    padding-bottom: 38px;
  }

  &__text-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 62px 98px;
    padding: 88px 0 64px 68px;
    @include for-tablet-landscape-down {
      padding: 0 0 0 30px;
    }
    @include for-tablet-portrait-down {
      gap: 45px 30px;
      padding-left: 15px;
    }
    @include for-phone-only {
      grid-template-columns: 1fr;
      row-gap: 24px;
      text-align: center;
      padding: 0;
    }
  }

  &__heading {
    @include fonts($f-family: font('play'), $f-weight: $fw-regular, $l-height: 1);
    @include responsive-font(20, 24);
    margin-top: 0;
    margin-bottom: 20px;
    @include for-laptop-up {
      font-size: 1.5rem;
    }
    @include for-phone-only {
      margin-bottom: -1px;
    }
  }

  &__list-item {
    @include fonts($l-height: 1.44, $l-spacing: 0.008em, $color: $main-text-color-rgba-08);
    @include responsive-font(16, 18);
    margin-bottom: 10px;
    @include for-laptop-up {
      font-size: 18px;
    }
    @include for-phone-only {
      line-height: 1.5;
      margin-bottom: 0;
    }
  }

  &__button {
    @include for-phone-only {
      max-width: $full-width;
      margin-top: -2px;
    }
  }
}
