@use './../abstracts' as *;

.hero {
  @include flex(column, center);
  padding-top: 121px;
  padding-bottom: 75px;
  @include for-tablet-landscape-down {
    padding-top: 30px;
  }
  @include for-phone-only {
    padding-top: 244px;
  }

  &__inner {
    @include flex(column, flex-start);
    @include width-height($full-width);
  }

  &__heading {
    @include fonts($f-family: font('play'), $f-weight: $fw-regular);
    @include responsive-line-height(44, 52);
    @include responsive-font(36, 44);
    max-width: 523px;
    margin-block-end: 3px;
    @include for-laptop-up {
      font-size: 2.75rem;
      line-height: 1.18;
    }
  }

  &__text {
    @include fonts($l-height: 1.44, $l-spacing: 0.002rem, $w-spacing: 0.055rem);
    @include responsive-line-height(24, 26);
    max-width: 439px;
    margin-bottom: 49px;
    @include for-phone-only {
      margin-bottom: 30px;
    }
  }
}
