@use './../abstracts' as *;

.reviews {
  padding-bottom: 98px;
  @include for-tablet-landscape-down {
    padding-bottom: 62px;
  }

  &__inner {
    @include flex(column);
    @include width-height($full-width);
  }

  &__heading {
    margin-bottom: 2px;
    @include for-phone-only {
      margin-bottom: 4px;
    }
  }

  &__text {
    max-width: 400px;
  }

  &__slider {
    @include flex();
    @include width-height($full-width);
    overflow: hidden;
    max-width: 1202px;
    margin: auto;
  }

  &__slider-block {
    @include flex($justification: space-between);
    @include width-height($full-width);
    width: calc(400px * 6);
    gap: 30px;
    margin-top: 32px;
    animation: slider 35s linear infinite;
    @include for-phone-only {
      flex-direction: column;
      align-items: center;
      gap: 7px;
      margin-top: 8px;
      animation: none;
    }

    &:hover {
      animation-play-state: paused;
    }
  }

  &__slider-item {
    @include width-height($full-width);
    position: relative;
    width: 370px;
    @include for-phone-only {
      max-width: 343px;
      width: 343px;
    }

    &:hover {
      cursor: pointer;
    }

    &--mocked {
      @include for-phone-only {
        display: none;
      }
    }
  }

  &__overlay {
    @include flex(column, $justification: space-between);
    @include width-height($full-width, $full-height);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(25, 28, 41, 0.6);
    padding: 29px 40px 31px;
    box-sizing: border-box;
  }

  &__overlay-text {
    @include fonts(
      $f-size: 1rem,
      $f-weight: $fw-regular,
      $l-height: 1.625,
      $w-spacing: 0.0313em,
      $color: rgba(255, 255, 255, 0.8)
    );
    margin-top: 0;
  }
}
