@use './../abstracts' as *;

.video {
  padding-bottom: 101px;
  @include for-tablet-landscape-down {
    padding-bottom: 80px;
  }
  @include for-tablet-portrait-down {
    padding-bottom: 50px;
  }

  &__inner {
    @include flex(column, center, center);
    @include width-height($full-width);
  }

  &__figure {
    max-width: 970px;
    margin: 0;
  }

  &__tablet {
    @include width-height($full-width);
    @include border();
    @include border-radius(31px);
    position: relative;
    max-width: 970px;
    max-height: 601px;
    padding: 31px 70px 31px 30px;
    box-sizing: border-box;
    @include for-tablet-portrait-down {
      padding: 11px 25px 12px 12px;
    }

    &::before,
    &::after {
      @include border();
      @include border-radius(50%);
      position: absolute;
      content: '';
      background: transparent;
      box-sizing: border-box;
    }

    &::before {
      @include width-height(13px, 13px);
      left: 7px;
      top: calc(50% - 6px);
      @include for-tablet-portrait-down {
        width: 4px;
        height: 4px;
        left: 2px;
        top: calc(50% - 2px);
      }
    }

    &::after {
      @include width-height(35px, 35px);
      right: 13px;
      top: calc(50% - 18px);
      @include for-tablet-portrait-down {
        width: 12px;
        height: 12px;
        right: 4px;
        top: calc(50% - 6px);
      }
    }
  }

  &__frame {
    @include width-height($full-width, $full-height);
    border: none;
    box-sizing: border-box;
    display: none;
  }

  &__screensaver {
    @include responsive-image();
    z-index: 1;
  }

  &__frame,
  &__screensaver {
    max-height: 538px;
    aspect-ratio: 16 / 9.9;
  }

  &__frame:hover,
  &__screensaver:hover {
    cursor: pointer;
  }

  &__figcaption {
    padding-right: 80px;
    box-sizing: border-box;
    @include for-tablet-landscape-down {
      padding-right: 5px;
    }
  }

  &__heading {
    margin-top: 51px;
    margin-bottom: 26px;
    @include for-tablet-landscape-down {
      margin-top: 24px;
      margin-bottom: 19px;
    }
  }
}
