$black-color: #000000;
$white-color: #ffffff;
$coral-color: #f1897b;
$dark-coral-color: #e54f3a;
$grey-border-color: #e4e4e4;
$mint-color: #85bbb1;
$dark-green-color: #08332b;
$main-text-color: #262a3f;
$video-play-color: rgba(88, 98, 145, 0.3);

$transparent: transparent;

$white-color-rgba-0: rgba(255, 255, 255, 0);
$white-color-rgba-002: rgba(255, 255, 255, 0.02);
$white-color-rgba-024: rgba(255, 255, 255, 0.244636);
$white-color-rgba-05: rgba(255, 255, 255, 0.5);
$white-color-rgba-08: rgba(255, 255, 255, 0.8);

$main-text-color-rgba-01: rgba(38, 42, 63, 0.1);
$main-text-color-rgba-05: rgba(38, 42, 63, 0.5);
$main-text-color-rgba-06: rgba(38, 42, 63, 0.6);
$main-text-color-rgba-08: rgba(38, 42, 63, 0.8);

$coral-color-rgba-0: rgba(241, 137, 123, 0);
$revievs-overlay-color-rgba-06: rgba(25, 28, 41, 0.6);
