@use './variables' as *;

@mixin width-height($width: auto, $height: auto) {
  width: $width;
  height: $height;
}

@mixin flex($direction: row, $alignment: stretch, $justification: flex-start) {
  display: flex;
  flex-direction: $direction;
  align-items: $alignment;
  justify-content: $justification;
}
