@use './variables' as *;
@use './colors' as *;
@use './functions' as *;

@mixin width-height($width: auto, $height: auto) {
  width: $width;
  height: $height;
}

@mixin flex($direction: row, $alignment: stretch, $justification: flex-start) {
  display: flex;
  flex-direction: $direction;
  align-items: $alignment;
  justify-content: $justification;
}

@mixin fonts(
  $f-family: font('lato'),
  $f-style: $fs-normal,
  $f-weight: $fw-light,
  $f-size: 1.125rem,
  $l-height: 1.44,
  $l-spacing: normal,
  $t-transform: none,
  $color: $main-text-color
) {
  font-family: $f-family;
  font-style: $f-style;
  font-weight: $f-weight;
  font-size: $f-size;
  line-height: $l-height;
  letter-spacing: $l-spacing;
  text-transform: $t-transform;
  color: $color;
}

@mixin responsive-font($min-size, $max-size) {
  $font-diff: $max-size - $min-size;
  $screen-diff: $max-content-width - 320;
  font-size: calc(#{$min-size + px} + #{$font-diff} * ((100vw - #{$min-content-width}) / #{$screen-diff}));
}

@mixin responsive-image {
  @include width-height($full-width, $full-height);
  display: block;
  object-fit: cover;
}
